body {
  padding:20px;
}
#container {
  width: 720px;
  height: 480px;
  border: 2px solid #ddd;
  position: relative;
  overflow: hidden;
}
#list {
  width: 5040px; 
  height: 480px; 
  position: absolute; 
  left: -720px;
  z-index: 1;
}
#list img {
  height: 100%;
  float: left;
}
#dots {
  height: 10px;
  width: 100px;
  position: absolute; 
  left: 320px;
  bottom: 20px;
  z-index: 2;
}
#dots span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: left;
  background: rgba(255,255,255,0.3);
  margin: 0 5px;
  cursor: pointer;
}
#dots .on {
  background: #ddd;
}
.arrow {
  position: absolute;
  top: 220px;
  width: 20px;
  height: 20px;
  border-top: 5px solid #ddd;
  border-right: 5px solid #ddd;
  z-index: 2;
  cursor: pointer;
  display: none;
}
#container:hover .arrow {
  display: block;
}
#arrow-left {
  left: 20px;
  transform: rotate(225deg);
}
#arrow-right {
  right: 20px;
  transform: rotate(45deg);
}
